# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Recent file
recentf

# Undo-tree save-files
*.~undo-tree

# Generated
README.el
custom-settings.el

# Folder
elpa/
auto-save-list/
backup/
server/
url/
